
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  

    <script src="js/LoginController.js"></script>
    
    
    <meta charset="utf-8" />
    <title>Ascari</title>
    <link rel="stylesheet" type="text/css" href="Css/TaxiAppCSS.css">
    <link rel="shortcut icon" href="Images/TAXI.ico" />
    <script>src = "Java/TaxiAppJAVA.js"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script data-require="angular.js@1.6.5" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script data-require="angular-animate@1.6.*" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-mocks.js"></script>   
    <script src="js/getcontroller.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  <!-- VOICE RECOGNITION -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="DoubleController">


<div "> 
 	               
    <header class="header" >
        <p><span><a href="#">Ascari&nbsp;<img src="Images/b.png" height="8%" width="8%"></a></span></p>
        <ul class="main-nav">
            <li><a href="#Home">Home</a></li>
            <li><a href="#Services">Services</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
			<li ng-hide="Pass"><a href="#Contact">Add Cab</a></li>
			<li ng-hide="Pass" "><a href="#Contact">View Report</a></li>
        </ul>                    
    </header>
          
<div class="button" >
        <a href="#">
            <button class="button" ng-click='toggleModal()' >Login</button>

            <modal-dialog show='modalShown'  Swidth='400px' height='37%'>
                <form class="login" ng-model="Pass">
                
                     <input type="text" ng-model="username" placeholder="Username">
					 <input type="password" ng-model="password" placeholder="Password"> 
			         <button ng-click='login()' ng-model="Pass">Login</button>   
                </form>
            </modal-dialog>
            <span class="shift">›</span>
        </a>
        
    </div>

</div>
  
  

    <center><img src="Images/rise.png" height="85%" width="100%"></center>
    <br /><br /><br /><br />
    <div class="glitch-wrapper">
        <div class="glitch" data-text="Services" id="Services">Services</div>
    </div>

    <center>
        <div class = "kyng">
            <div class="container">
			  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">See Routes</button>
			  <div id="demo" class="collapse" >
			  <center><h5>Set Routes</h5>
					   <h5> 
					   <br /> Phone number
					   <input ng-model="customer.number" class = "unruly">
					   I would like to go from
					   </h5>
			    <select ng-model="route" ng-options="dest.location + ' to ' + dest.destination for dest in sysdests" class = "unruly">
                         </select>
  
			  </div>
			</div>
            
            
        </div>
    </center>

    <h6> <center>This is a service we provide which enables a user, to promptly send a request to view the <br />availablity of cabs in the area in a neatly fromatted format, displaying all the relevant info. </h6></center>
    
    <table>
        <tr>
            <div class="w3-content w3-display-container">
                <td width="30%">                  
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                        <center>
                            <div >
                                <button class="btn third" ng-click='toggleModal()'>Request Price And Distance</button>
                                <modal-dialog show='modalShown' width='600px' height='60%'>
                                    <p><center>Modal Content Goes here</center></p>
                                </modal-dialog>
                            </div>
                        </center>

                   <h6>&emsp;&emsp;<center>We give our customers the option to request both the price and distance of the journey before they affirm confirmation</center></h6>
               </td>
                <td>
                    <a href="https://www.google.com/maps/place/Jamaica/@18.1160905,-78.3974428,8z/data=!3m1!4b1!4m5!3m4!1s0x8eda2a1bc6cf719d:0x59a0d1c0b5120efa!8m2!3d18.109581!4d-77.297508">
                        <center><img src="Images/app3.gif"></center>
                    </a>

                <td width="30%">
                   
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <center>
                        <div >
                  
			  <div class="container">
			  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demos">Price and Distance</button>
			  <div id="demos" class="collapse">
			  <center><h5>Price and distance</h5>
					   <h5> 
					   
  					price = {{route.price}}  Distance = {{route.distance}}
			  </div>
                        </div>
                        </center>
                                       
                    <center><h6>&emsp;After requesting a cab, we present the option of confirming said cab for &emsp;scheduled pickups</h6></center>
                </td>
        </tr>
    </table>

    <center>
        <div >
            <button class="btn third" ng-click='toggleModal()'>Rate Cab Experience</button>
            <modal-dialog show='modalShown' width='600px' height='60%'>
                <p><center>Modal Content Goes here</center><p>
            </modal-dialog>
        </div>
    </center>

    <center>
        <h6>Rate your cab experience from one to five stars with this option also with the added feature<br /> of providing feedback and comments in regards to your experience and the quality of our service</h6>
    </center>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />

    <div class="glitch-wrapper">
        <div class="glitch" data-text="About" id="About">About</div>
    </div>

    <br /><br /><br />
    <div class="text">
        <h3>Ascari is</h3>
        <h3>
            <span class="word wisteria">reliable.</span>
            <span class="word belize">efficient.</span>
            <span class="word pomegranate">affordable.</span>
            <span class="word green">extensive.</span>
            <span class="word midnight">the right choice.</span>

        </h3>
    </div>

    <br /><br /><br />

    <center>
        <video controls autoplay loop>
            <source src="Videos/Cab.webm" type="video/webm">
            <source src="Videos/Cab.webm" type="video/webm">
        </video>
    </center>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />


    <div class="glitch-wrapper">
        <div class="glitch" data-text="Contact" id="Contact">Contact</div>
    </div>


    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="Images/Managers.png" width="60%" height="60%">
            </div>
            <div class="column">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />



    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />

    <div class="mobile-bottom-bar">
        <a href="#" class="footer-link">
            <i class="fa fa-sign-out"></i> <span class='footer-text'>© 2019 Copyright:  Ascari Taxi Service</span>
        </a>
    </div>
    
        
   
</body>
</html>

  