<div  >
<div class="row options">
    <button ng-click="showAdd()"  id="btnAdd">Add</button>
    <button id="btnRemove">Remove</button>
    <button id="btnRefresh">Refresh</button>
</div>
<div class="row editor-section" ng-if="operationType != ''">
    <br />
    <form>
        <div>
           <label>Owner Name</label>
           <input type="text" ng-model="$ctrl.ownerName" />
           <button ng-click="doAction()">{{ operationType }}</button>
        </div>
    </form>
</div>
<div class="row fruit-listings">
   <ul>
      <li ng-repeat="basket in baskets">
          <img src="assets/img/basketicon.jpg"/>
          <strong> Basket {{ basket.id}}  for {{ basket.ownerName }}</strong>
      </li>
   </ul>
</div>
</div>